body{
    background: rgba(2, 201, 223, 0.564);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
p{
    color: beige;
}
mark{
    color: beige;
}
.espaço{
    position: relative;
    height: 600px;
    width: 600px;
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
}

.astronauta{
    position: absolute;
    top: 200px;
    left: 200px;
    height: 200px;
    width: 200px;
    z-index: 1;
}
