@charset "UTF-8";

.conteiner{
    display: grid;
    grid-template-rows: 80px 40px 200px 40px;
    grid-template-columns: 200px 150px;
}

.itens1{
    background-color: chartreuse;
    grid-area: 1 / 1 / 2 / 3;
    text-align: center
}

.itens2{
    background-color: cadetblue;
    text-align: center;
    grid-area: 2 / 1 / 3 / 3;
}

.itens3{
    background-color: aquamarine;
    grid-area: 3 / 1 / 4 / 3;
}

.itens4{
    background-color: blueviolet;
    text-align: center;
    grid-area: 3 / 2 / 4 / 3;
}

.itens5{
    text-align: center;
    background-color: chocolate;
    grid-area: 4 / 1 / 5 / -1;
}