@charset "UTF-8";
 
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #042940, #005C53);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(170, 128, 86, 0.714);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #DBF227;
text-align: center;
text-shadow: 1px 1px 2px rgba(170, 137, 45, 0.822);
}

h2{
color: #9FC131;
}

p {
    text-align: justify;
}

