@charset "UTF-8";

.conteiner{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    
}

.caixa1{
    background-color: yellow;
    grid-area: 1 / 1 / 2 / -3;
}

.caixa2{
    background-color: brown;
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3{
    background-color: chartreuse;
    grid-area: 1 / 3 / 2 / 5;
}

.caixa4{
    grid-row: 2 / 4;
    grid-column: -3 / -1;
}